In [2]:
mylist = ['Sandra', 'Joe', 'John']
mylist.append('Ejike')
print(mylist)

['Sandra', 'Joe', 'John', 'Ejike']

In [3]:
mylist.insert(1, 'Morayo')
print(mylist)

['Sandra', 'Morayo', 'Joe', 'John', 'Ejike']

In [4]:
mylist.remove('Joe')
print(mylist)

['Sandra', 'Morayo', 'John', 'Ejike']

In [5]:
class_a = mylist.copy()
print(class_a)

['Sandra', 'Morayo', 'John', 'Ejike']

In [6]:
class_b = ['Toyin', 'Esther', 'Sam', 'Anu']
class_a.extend(class_b)
print(class_a)

['Sandra', 'Morayo', 'John', 'Ejike', 'Toyin', 'Esther', 'Sam', 'Anu']

In [7]:
class_a.sort()
print(class_a)

['Anu', 'Ejike', 'Esther', 'John', 'Morayo', 'Sam', 'Sandra', 'Toyin']

In [8]:
class_a.reverse()
print(class_a)

['Toyin', 'Sandra', 'Sam', 'Morayo', 'John', 'Esther', 'Ejike', 'Anu']

In [9]:
class_a.append('John')
print(class_a)

['Toyin', 'Sandra', 'Sam', 'Morayo', 'John', 'Esther', 'Ejike', 'Anu', 'John']

In [10]:
name_count = class_a.count('John')
print(name_count)

2

In [11]:
for name in class_a:
    print(name, 'count =', class_a.count(name))

Toyin count = 1
Sandra count = 1
Sam count = 1
Morayo count = 1
John count = 2
Esther count = 1
Ejike count = 1
Anu count = 1
John count = 2

In [13]:
check_list = []
class_a.insert(4, 'John')
print(class_a)
for name in class_a:
    if name not in check_list:
        check_list.append(name)
        print(name, 'count =', class_a.count(name))

['Toyin', 'Sandra', 'Sam', 'Morayo', 'John', 'John', 'John', 'Esther', 'Ejike', 'Anu', 'John']
Toyin count = 1
Sandra count = 1
Sam count = 1
Morayo count = 1
John count = 4
Esther count = 1
Ejike count = 1
Anu count = 1

In [15]:
for name in class_a:
    if class_a.count(name) > 1:
        class_a.remove(name)
print(class_a)

['Toyin', 'Sandra', 'Sam', 'Morayo', 'Esther', 'Ejike', 'Anu', 'John']