In [1]:
#using built-in functions
number_range = range(10)
for i in number_range:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
number_range = range(2,20,2)
for i in number_range:
    print(i)

2
4
6
8
10
12
14
16
18

In [3]:
number_range = range(2,22,2)
for i in number_range:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [9]:
#list
sam = (20,30,40,35)
print(sam)
sam_max_score = max(sam)
print("Sam max score is " + str(sam_max_score))

sam_min_score = min(sam)
print("Sam min score is " + str(sam_min_score))

sam_sum_score = sum(sam)
print("Sam total score is " + str(sam_sum_score))

no_of_subject = len(sam)
print("Number of subjects taken " + str(no_of_subject))

(20, 30, 40, 35)
Sam max score is 40
Sam min score is 20
Sam total score is 125
Number of subjects taken 4

In [15]:
#common built-in string functions
text_a = "Hello World"
text_a_lower = text_a.lower()
print(text_a_lower)

text_a_upper = text_a.upper()
print(text_a_upper)

text_a_caseswap = text_a.swapcase()
print(text_a_caseswap)

text_b = "Morayo-Ejike-Anuoluwa-Esther-Toyin"
print(type(text_b))
print(text_b)

#splitting a string
split_text_b = text_b.split('-')
print(type(text_b))
print(split_text_b)

#converting a list to a string using join function
joined_text_b = ", ".join(split_text_b)
print(type(text_b))
print(joined_text_b)

#using the replace function
replace_text_b = text_b.replace('-', ', ')
print(replace_text_b)

hello world
HELLO WORLD
hELLO wORLD
<class 'str'>
Morayo-Ejike-Anuoluwa-Esther-Toyin
<class 'str'>
['Morayo', 'Ejike', 'Anuoluwa', 'Esther', 'Toyin']
<class 'str'>
Morayo, Ejike, Anuoluwa, Esther, Toyin
Morayo, Ejike, Anuoluwa, Esther, Toyin

In [21]:
#using what i have learned
#format the following text
#text_c = "Door Window;Watch Clock;Laptop desktop"
#result = Door Window - Watch Clock - Laptop Desktop

text_c = "Door Window;Watch Clock;Laptop desktop"
split_text_c = text_c.split('-')
print(type(text_c))
print(split_text_c)

#using the replace function
replace_text_c = text_c.replace(';', ' - ')
print(replace_text_c)

<class 'str'>
['Door Window;Watch Clock;Laptop desktop']
Door Window - Watch Clock - Laptop desktop